<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Employee</title>
    <style>
        .error{
            color:red;
        }
    </style>
</head>

<body>

<div class="container">

    <h3>Work Bench</h3>
    <hr>

    <p class="h4 mb-4">Update Task</p>

    <form action="#" th:action="@{/todolist/save}"
          th:object="${item}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{title}" class="form-control mb-4 col-4" placeholder="Title" />
        <p class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
<!--        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>-->
<!--        <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Task Null</td>-->
        <f:validateBean disabled="true" />


        <select name="status" th:field="*{status}">
            <option value="true">done</option>
            <option value="false">InProgress</option>
        </select>
        <br><br>
        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/todolist/list}">Back to WorkBench</a>

</div>
</body>

</html>